@model WebApp.ViewModels.ResponseContractorVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResponseContractorVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.HiddenFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.HiddenFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFreelancer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFreelancer)
        </dd>
    </dl>
</div>
<div>
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.PrimaryKey  }) | *@
    <a asp-action="Search">Back to List</a>

</div>
