@model WebApp.ViewModels.ResponseLocationVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResponseLocationVm</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TownId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TownId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TownName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TownName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
